# Directories
**/__pycache__
**/data
**/dataset
!digitizer/yolov5/data
**/node_modules
**/environment
**/runs
**/temp
**/slurm*
**/database
**/release/build
**/PTA_finish
**/PTA_finish_t
**/PTA_try

# Junk files
.DS_Store

# Secret files
.env
