# Directories
**/__pycache__
**/data
**/dataset
!digitizer/yolov5/data
**/node_modules
**/environment
**/runs
**/temp
**/slurm*
**/database
**/release/build
**/PTA_finish
**/PTA_finish_t
**/PTA_finish_t_jpg
**/PTA_try
**/PTA_finish_try_fitz_jpg

# test file
test.py

# Junk files
.DS_Store

# Secret files
.env
